.config-container-outter,
.config-container {
    min-height: 500px;
    width: 100%;
    background-color: #e6ecfa;
}

.config-card {
    min-height: 380px;
    min-width: 300px;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    box-shadow: 1px 1px 0 rgba(110, 122, 185, 0.1), 2px 3px 7px rgba(0, 76, 255, 0.2);
    position: relative;
}

.config-card-title {
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
}

.config-card-title>h3 {
    margin: 0px;
    margin-bottom: 12px;
}

.config-card-title>small {
    color: #6ba0fd;
    font-size: 12px;
    font-style: italic;
    line-height: 3px;
}

.config-card-title>small>span {
    display: block;
    margin-bottom: 12px;
}

.config-card-add-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 0 rgba(110, 122, 185, 0.1), 2px 3px 7px rgba(0, 76, 255, 0.2);
    font-size: large;
    z-index: 1;
}

.config-card-list-container {
    height: 300px;
}

.config-card-list {
    padding: 0px;
    list-style: none;
}

.config-card-list>li {
    width: 98%;
    height: 50px;
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 5px #c9c9c9;
    border-radius: 2px;
    border: 1px solid #eee;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0% 2%;
}

.config-card-list>li>p {
    margin: 0px;
    width: 100%;
    padding: 2px 0px;
}

.config-card-list>li>p,
.config-card-list>li>i {
    color: #454545 !important;
}

.config-card-list .checkbox {
    position: absolute;
    width: 100%;
    top: 28%;
    margin: 0px;
}

.config-card-list .checkbox label {
    width: 100%;
}

.table-formater {
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 1px 1px 0 rgba(110, 122, 185, 0.1), 2px 3px 7px rgba(0, 76, 255, 0.2);
    border-radius: 4px;
}

.reorder-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    visibility: hidden;
}

.reorder-item-grabbing {
    /*transform: scale(0.96);*/
    background-color: #ddd;
    color: #222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px;
    border-radius: 4px;
    background-color: white;
    z-index: 501;
    visibility: visible;
}

.reorder-item-move {
    height: 50px !important;
}

[reorder-list] {
    position: relative;
}

.list-drag{
    font-size: large;
    width: 30px;
    text-align: center;
}
.transition {
    transition: all 0.2s cubic-bezier(0.333, 0, 0, 1);
}