.navbar-ios {
    color: #333;
    overflow: hidden;
    background: #eee;
    z-index: 2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1);
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.hero-slider {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.fakebody-1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.fakebody-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e2d8b5;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
}

#cf,
#cf_nav {
    position: relative;
    margin: 0 auto;
}

#cf img,
#cf_nav img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#cf img.top,
#cf_nav img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
}

.content-blurred {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    opacity: 0.4;
}

.content-blurred .content {
    backface-visibility: hidden;
}

.logo {
    border-right: 1.5px solid #ddd;
}

.logo img {
    margin: 5px 0px;
    padding-right: 10px;
    max-height: 40px;
}

.login-panel {
    margin-top: 1%;
}

.login-panel div {
    padding-left: 0px;
}

.login-panel button {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-panel input {
    height: 36px;
}

.home-content {
    position: relative;
    z-index: 1;
    padding-top: 8%;
}

.signup-panel {
    background-color: rgba(255, 255, 255, .85);
    border-radius: 5px;
    border-top: 5px solid #1D62F0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1)
}

.home-text {
    margin-top: 25%;
    /*margin-left: 15%;
    width: 65%;*/
    font-size: 20px;
}

.home-text hr {
    width: 25%;
    margin-left: 0px;
    border-width: thick;
    border-color: #333;
}

.mobile-login-container {
    background-color: #fff;
    border: 1px solid #dbe2e8;
    box-shadow: 2px 2px 3px 0 hsla(205, 5%, 48%, .12);
    padding: 0px;
}

.mobile-login-ul>li>a {
    border-radius: 0px !important;
    cursor: pointer;
    background: #fafbfc !important;
    border-bottom: 1px solid #dbe2e8 !important;
    color: #7d97ad !important;
}

.mobile-login-ul .active a {
    background: #fff !important;
    border: none !important;
    color: #1D62F0 !important;
}

#login-pane-btn.active a {
    border-right: 1px solid #dbe2e8 !important;
}

#signup-pane-btn.active a {
    border-left: 1px solid #dbe2e8 !important;
}

@media only screen and (max-device-width: 480px) {
    .mobile-login-ul {
        display: table !important;
    }
    .mobile-login-ul>li {
        display: table-cell !important;
    }
}