<div class="wrapper">
    <div class="classes-welcome">
        <div class="container-fluid classes-welcome-text">
            <h1>Welcome {{teacherName}},</h1>
            <h3>Here are all your classes</h3>
        </div>
    </div>
    <div class="classes-grid">
        <div class="container-fluid">
            <div class="col-sm-3 create-class">
                <div class="create-class-content">
                    <div class="plus">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="text-center text-uppercase">
                        <p>Create New Class</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 class"></div>
            <div class="col-sm-3 class"></div>
            <div class="col-sm-3 class"></div>
        </div>
    </div>
</div>