<nav class="navbar navbar-ios navbar-fixed-top">
    <div class="content-blurred">
        <div class="content"></div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-3 logo">
            <div class="col-sm-4">
                <img src="./img/logo.svg" alt="Godwin Vinny Carole" class="img-responsive"></div>
            <div class="col-sm-8">
                <h3 style="margin-bottom:2px;">Tracher’s Ally</h3>
                <p>Work Smart</p>
            </div>
        </div>
        <div class="col-sm-5 pull-right nav-buttons">
            <div class="col-sm-4"><button class="btn btn-default"> <i class="fa fa-commenting icon" aria-hidden="true"></i></i> Feature Request</button></div>
            <div class="col-sm-4"><button class="btn btn-default"><i class="fa fa-exclamation-circle icon" aria-hidden="true"></i></i> Report Issue</button></div>
            <div class="col-sm-4"><button class="btn btn-circle btn-user text-uppercase" data-toggle="popover" gw-shortName>{{shortName}}</button>
            </div>
        </div>
    </div>
</nav>
<ui-view></ui-view>
