<div class="controls-ribbion">
    <div class="content-blurred">
        <div class="content"></div>
    </div>
    <div class="container-fluid remove-padding controls-ribbion-btn-container">
        <button class="btn btn-default btn-back" data-toggle="tooltip" data-placement="right" title="Click to go back" ng-click="backButton()"><i class="fa fa-angle-left"></i></button>
    </div>
</div>
<div class="ui-classroom">
    <div class="wrapper">
        <div class="container-fluid wrapper-padding config-container-outter">
            <div class="config-container remove-padding">
                <h2 class="text-center text-primary"> Shape Your Marks List </h2>
                <hr>
                <div class="container-fluid center-block">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="config-card center-block">
                            <div class="config-card-title">
                                <h3 class="text-primary">Columns</h3>
                                <small class="text-primary">
                                        <span>Add required column titles which are NOT subjects.</span>
                                        <span>eg: Roll no., Student name etc.</span>
                                    </small>
                            </div>
                            <div class="container-fulid">
                                <div class="col-sm-12 col-md-12 col-lg-12 config-card-list-container" ng-scrollbars>
                                    <ul class="config-card-list">
                                        <li ng-repeat="column in settings.columns"><i class="fa fa-dot-circle-o exams-bullet" aria-hidden="true"> </i>
                                            <p contenteditable="true" watch-changes placeholder="Column name" data-type="column" data-index="{{$index}}">{{column}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-circle config-card-add-btn" ng-click="addColumns($event)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="config-card center-block">
                            <div class="config-card-title">
                                <h3 class="text-primary">Subject Columns</h3>
                                <small class="text-primary">
                                     <span>Add Subjects as column titles.</span>
                                     <span>eg: English, Science, etc.</span>
                                 </small>
                            </div>
                            <div class="container-fulid">
                                <div class="col-sm-12 col-md-12 col-lg-12" ng-scrollbars>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-circle config-card-add-btn">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="config-card center-block">
                            <div class="config-card-title">
                                <h3 class="text-primary">Calculations</h3>
                                <small class="text-primary">
                                     <span>Select the calcualtion you need in your marks list</span>
                                     <span>from the options below.</span>
                                 </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>