<div class="container-fluid">
        <div class="col-md-1 col-lg-2 hidden-xs hidden-sm"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <div class="popup-holder">
                <div class="popup-title text-center">
                    Subject Grading Structure
                </div>
                <div class="popup-content">
                    <button class="btn btn-primary" ng-click="revokePopup()">Done</button>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2 hidden-xs hidden-sm"></div>
    </div>